<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <%- include('./partials/nav') %>
    <div class="container d-flex justify-content-center flex-wrap gap-4">
      <% if (locals.blogs) { %>
        <%blogs.forEach((blog)=> { %>
          <div class="card border-0 shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
            <img src="<%= blog.imageURL %>" class="card-img-top" alt="..." height="200" />
            <div class="card-body">
              <h5 class="card-title">
                <%= blog.title %>
              </h5>
              <p class="card-text">
                <%= blog.content.length>= 50 ? blog.content.substring(0, 50)+"..." : blog.content %>
              </p>
              <button id="likes">
                &hearts;
                <span>
                  <%= blog.likes===0 ? "" : blog.likes %>
                </span>
              </button>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary">see post!</a>
            </div>
          </div>
          <% }) %>
            <% } %>
    </div>
    <%- include("./partials/scripts") %>
      <script src="js/script.js"></script>
</body>

</html>