<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>homepage</title>
</head>

<body>
  <%- include('./partials/nav') %>
    <div class="container d-flex justify-content-center flex-wrap gap-4">
      <% if (locals.blogs) { %>
        <%blogs.forEach((blog)=> { %>
          <div class="card border-0 shadow p-3 mb-5 bg-white rounded" style="width: 18rem">
            <img src="<%= blog.imageURL %>" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                <%= blog.title %>
              </h5>
              <p class="card-text">
                <%= blog.body %>
              </p>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <% }) %>
            <% } %>
    </div>
    <%- include("./partials/scripts") %>
</body>

</html>